*, *::before, *::after {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0
}

:root {
  --prim-soft-blue: hsl(215, 51%, 70%);
  --prim-cyan: hsl(178, 100%, 50%);
  --mainbg-dark-blue: hsl(217, 54%, 11%);
  --cardbg-dark-blue: hsl(216, 50%, 16%);
  --line-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%)
}

html {
  font-size: 18px;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  /* flex: 0 0 375px; */
  flex-direction: column;
  padding: 1rem;
}

.attribution {
  margin-top: auto;
  font-size: 11px; 
  text-align: center;
  color: hsl(228, 45%, 44%); 
}