*, *::before, *::after {
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
}

h1 {
  color: #fff;
  font-size: 1.1rem;
}

.equil-img{
  border-radius: 10px;
  margin: 25px 25px 0 25px;
  width: 300px;
}

.container{
  padding: 100px 0;
}

.card{
  margin: 0 auto;
  width: 80%;
  max-width: 350px;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0 30px 60px hsl(217, 50%, 9%);
  border-radius: 20px;
}
